
.author__avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 20%;
  transform: scale(1.10);
}

.page__content p {
  margin-bottom: 1.5em;
}

.layout--splash .page__content h1 {
  color: #1abc9c; /* teal example */
}

.neon-divider {
  border: none;
  height: 1px;
  margin: 2.5rem 0;
  background: linear-gradient(
    to right,
    transparent,
    #ff2fdc,
    transparent
  );
  box-shadow: 0 0 6px rgba(255,47,220,0.6);
}