
.author__avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 20%;
  transform: scale(1.10);
}

.page__content p {
  margin-bottom: 1.5em;
}

html, body {
  background-color: #111 !important;
  color: #eaeaea !important;
}

.page__content, .page, .initial-content {
  background-color: transparent !important;
}

a { color: #8ab4f8 !important; }