---
# Only the main Sass file needs front matter
---
@import "minimal-mistakes";
@import "custom";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | mint: 'mint' }}";